<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diamond Price Prediction</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Welcome to Diamond Price Prediction</h1>
    <p>Diamond price prediction involves estimating the value of a diamond based on various characteristics and features such as carat, cut, color, clarity, and other attributes. This process utilizes machine learning models that analyze historical data to predict prices accurately. By inputting specific details about a diamond, these models can provide an estimated market value, helping buyers, sellers, and appraisers make informed decisions. Accurate diamond price prediction is crucial in the gem industry to ensure fair pricing and to maintain market stability.</p>
    <b>To predict the prize of the Dimoand click on the below predict button</b>
    <a href="{{ url_for('form') }}"><button>Predict</button></a>
</body>
</html>
